* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  color: #23323B;
  scroll-behavior: smooth;
}
body {
  min-width: 400px;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge and FireFox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 

@media (max-width: 650px) {
}
a {
  text-decoration: none;
  transition: all 200ms linear;
  color: #23323B;
}
a:visited {
  color: #23323B;
}

a:hover {
  color: #984B48;
}

